.add-task-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.base-input-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.base-input-container label {
  font-size: 16px;
  color: rgb(238, 238, 238);
  font-weight: bold;
  width: 20%;
}

.input-base {
  height: 40px;
  width: 60%;
  padding: 0 10px;
  border-radius: 5px;
  border: none;
  background-color: #444;
  color: #eee;
  font-size: 16px;
}

.add-task-input-description {
  font-size: 18px;
  height: auto;
  resize: vertical;
}

.button-add-task {
  background-color: chartreuse;
  height: 40px;
  margin-left: auto;
  padding: 0 10px;
  border-radius: 5px;
  width: 100px;
  font-size: 16px;
  color: #444;
  font-weight: bold;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
}
.button-add-task:hover {
  background: #444;
  color: chartreuse;
}
